<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.FilmMapper">

	<!-- 通用查询映射结果 -->

<select id="bannersSelect" resultType="com.stylefeng.guns.rest.common.persistence.model.BannerVO">
	SELECT
UUID as bannerId,
banner_address as bannerAddress,
banner_url as bannerUrl
from
mtime_banner_t
</select>
<select id="hotFilmSelectCount" resultType="_int">
	select count(1) from mtime_film_t
	where film_status=1
</select>
	<select id="soonFilmSelectCount" resultType="_int">
	select count(1) from mtime_film_t
	where film_status=2
</select>
<select id="hotFimlsSelect"	resultType="com.stylefeng.guns.rest.common.persistence.model.FilmVO">
	SELECT
mfit.film_id as filmId,
mft.film_type as filmType,
mft.img_address as imgAddress,
mfit.film_score as filmScore
from
mtime_film_info_t mfit
LEFT JOIN mtime_film_t mft on mft.UUID=mfit.film_id
where film_status=1
</select>
	<select id="soonFimlsSelect"	resultType="com.stylefeng.guns.rest.common.persistence.model.FilmVO">
	SELECT
mfit.film_id as filmId,
mft.film_type as filmType,
mft.img_address as imgAddress,
film_preSaleNum as expectNum,
mft.film_time as showTime
from
mtime_film_info_t mfit
LEFT JOIN mtime_film_t mft on mft.UUID=mfit.film_id
where film_status=1
</select>
<select id="boxRankingSelect" resultType="com.stylefeng.guns.rest.common.persistence.model.BoxRanking"	>
SELECT
UUID as filmId,
film_name as filmName,
img_address as imgAddress,
film_box_office as boxNum
from
mtime_film_t

</select>
	<select id="expectRankingSelect" resultType="com.stylefeng.guns.rest.common.persistence.model.ExpectRanking">
		SELECT
UUID as filmId,
film_name as filmName,
img_address as imgAddress,
film_preSaleNum as expectNum
from
mtime_film_t
	</select>
<select id="top100Select" resultType="com.stylefeng.guns.rest.common.persistence.model.Top100">
	SELECT
UUID as filmId,
film_name as filmName,
img_address as imgAddress,
film_score as score
from
mtime_film_t
</select>
</mapper>
